<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar con Video</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
  <div id="particles-js"></div> <!-- Contenedor de partículas -->
  <section>
    
  <nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container">
      <a class="navbar-brand" href="/home">
        <img src="../../assets/img/22222.png" class="navbar-logo" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" (click)="toggleVertical()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [class.show]="isVertical">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item btn-inicio">
            <a class="nav-link" href="#">Inicio</a>
          </li>
          <li class="nav-item btn-mods">
            <a class="nav-link" href="#">Mods</a>
          </li>
          <li class="nav-item btn-galeria">
            <a class="nav-link" href="#">Galería</a>
          </li>
          <li class="nav-item btn-galeria">
            <a class="nav-link" href="#">Donación</a>
          </li>
          <li class="nav-item btn-galeria">
            <a class="nav-link" href="#">Acerca</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <audio id="myAudio" loop>
    <source src="../../assets/sound/sound.mp3" type="audio/mpeg">
    Tu navegador no soporta el elemento de audio.
  </audio>
  <button class="audio-button" (click)="toggleAudio()">
    <img [src]="audioIconSrc" alt="Audio">
  </button>
  
  <div id="video-container">
    <video id="video" playsinline muted loop autoplay onclick="this.play();" poster="../../assets/img/lol.png">
      <source src="../../assets/img/2.mp4" type="video/mp4">
    </video>
    <section>
      <div class="greeting">Bienvenido a la página web de 
        <br>AXL GAMESTER
      </div>
    </section>
    

  

  </div>
  
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script>
    particlesJS('particles-js', {
      "particles": {
        "number": {
          "value": 80, // Aumenta el número de partículas
          "density": {
            "enable": true,
            "value_area": 900// Ajusta el área donde se distribuyen las partículas
          }
        },
        "color": {
          "value": "#ff8000" // Color rojo para simular el fuego
        },
        "shape": {
          "type": "circle",
          "stroke": {
            "width": 0,
            "color": "#000000"
          },
          "polygon": {
            "nb_sides": 5
          }
        },
        "opacity": {
          "value": 0.8,
          "random": true,
          "anim": {
            "enable": false,
            "speed": 1,
            "opacity_min": 0.1,
            "sync": false
          }
        },
        "size": {
          "value": 2,
          "random": true,
          "anim": {
            "enable": true,
            "speed": 10,
            "size_min": 1,
            "sync": false
          }
        },
        "line_linked": {
          "enable": false
        },
        "move": {
          "enable": true,
          "speed": 10, // Aumenta la velocidad de movimiento
          "direction": "top-right", // Dirección de movimiento
          "random": true, // Movimiento aleatorio
          "straight": false,
          "out_mode": "out",
          "bounce": false,
          "attract": {
            "enable": false,
            "rotateX": 600,
            "rotateY": 1200
          }
        }
      },
      "interactivity": {
        "detect_on": "canvas",
        "events": {
          "onhover": {
            "enable": false,
            "mode": "grab"
          },
          "onclick": {
            "enable": false,
            "mode": "push"
          },
          "resize": true
        },
        "modes": {
          "grab": {
            "distance": 140,
            "line_linked": {
              "opacity": 1
            }
          },
          "bubble": {
            "distance": 400,
            "size": 40,
            "duration": 2,
            "opacity": 8,
            "speed": 3
          },
          "repulse": {
            "distance": 200,
            "duration": 0.4
          },
          "push": {
            "particles_nb": 4
          },
          "remove": {
            "particles_nb": 2
          }
        }
      },
      "retina_detect": true
    });
  </script>
  </section>
<!--  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="greeting">
          </div>
        </div>
        <div class="col-md-6">
          <div class="logo-container">
            <img src="../../assets/img/menu.png" alt="Imagen personalizada" class="logo-image">
          </div>
        </div>
      </div>
    </div>
  </section>-->
</body>
</html>
