<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar con Video</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <style>
    /* Estilos CSS */
    body, html {
      margin: 0;
      padding: 0;
      height: 100%;
    }

    .navbar {
      width: 100%;
      z-index: 1;
    }

    /* Agrega estilos para que el contenedor de partículas se superponga al video */
    #particles-js {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: transparent;
    }

    /* Agrega estilos para el contenedor principal */
    #video-container {
      position: relative;
      width: 100%;
      height: 100vh;
      overflow: hidden;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container">
      <a class="navbar-brand" href="/home">
        <img src="../../assets/img/22222.png" class="navbar-logo" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" (click)="toggleVertical()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" [class.show]="isVertical">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item btn-inicio">
            <a class="nav-link" href="#">Inicio</a>
          </li>
          <li class="nav-item btn-mods">
            <a class="nav-link" href="#">Mods</a>
          </li>
          <li class="nav-item btn-galeria">
            <a class="nav-link" href="#">Galería</a>
          </li>
          <li class="nav-item btn-galeria">
            <a class="nav-link" href="#">Donación</a>
          </li>
          <li class="nav-item btn-galeria">
            <a class="nav-link" href="#">Acerca</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="video-container">
    <section>
      <div class="greeting">Bienvenido al lugar secreto de los mods de 
        <br>GOD OF WAR
      </div>
    </section>
    
    <video id="video" playsinline muted loop autoplay onclick="this.play();" poster="../../assets/img/w1.jpg">
      <source src="../../assets/img/2.mp4" type="video/mp4">
    </video>
  
    <div id="particles-js"></div> <!-- Contenedor de partículas -->
  </div>

  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script>
    particlesJS('particles-js', {
      "particles": {
        "number": {
          "value": 80, // Aumenta el número de partículas
          "density": {
            "enable": true,
            "value_area": 900// Ajusta el área donde se distribuyen las partículas
          }
        },
        "color": {
          "value": "#ff8000" // Color rojo para simular el fuego
        },
        "shape": {
          "type": "circle",
          "stroke": {
            "width": 0,
            "color": "#000000"
          },
          "polygon": {
            "nb_sides": 5
          }
        },
        "opacity": {
          "value": 0.8,
          "random": true,
          "anim": {
            "enable": false,
            "speed": 1,
            "opacity_min": 0.1,
            "sync": false
          }
        },
        "size": {
          "value": 2,
          "random": true,
          "anim": {
            "enable": true,
            "speed": 10,
            "size_min": 1,
            "sync": false
          }
        },
        "line_linked": {
          "enable": false
        },
        "move": {
          "enable": true,
          "speed": 10, // Aumenta la velocidad de movimiento
          "direction": "top-right", // Dirección de movimiento
          "random": true, // Movimiento aleatorio
          "straight": false,
          "out_mode": "out",
          "bounce": false,
          "attract": {
            "enable": false,
            "rotateX": 600,
            "rotateY": 1200
          }
        }
      },
      "interactivity": {
        "detect_on": "canvas",
        "events": {
          "onhover": {
            "enable": false,
            "mode": "grab"
          },
          "onclick": {
            "enable": false,
            "mode": "push"
          },
          "resize": true
        },
        "modes": {
          "grab": {
            "distance": 140,
            "line_linked": {
              "opacity": 1
            }
          },
          "bubble": {
            "distance": 400,
            "size": 40,
            "duration": 2,
            "opacity": 8,
            "speed": 3
          },
          "repulse": {
            "distance": 200,
            "duration": 0.4
          },
          "push": {
            "particles_nb": 4
          },
          "remove": {
            "particles_nb": 2
          }
        }
      },
      "retina_detect": true
    });
  </script>
</body>
</html>
