/* Estilos CSS */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow: hidden; */ /* Elimina esta línea para permitir el scroll */
}


.navbar {
  width: 100%; /* Ocupa el ancho completo de la ventana */
  z-index: 1; /* Asegura que la barra de navegación esté por encima del video */
  background: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0)); /* Degradado de negro a transparente de arriba hacia abajo */
  
  .navbar-nav {
    margin-left: auto; /* Mueve los elementos de navegación al lado derecho */
    
    .nav-item {
      margin-right: 20px; /* Ajusta el espaciado entre las opciones de navegación */
      
      .nav-link {
        color: white; /* Color del texto de los botones */
        font-size: 25px; /* Tamaño de fuente de las opciones de navegación */
        text-align: center; /* Alinea el texto al centro */
        font-family: 'Bebas Neue', sans-serif; /* Fuente Bebas Neue */
        
        &:hover {
          text-shadow: 0px 4px 10px rgb(255, 0, 0); /* Sombra */
          font-size: 32px; /* Tamaño de fuente de las opciones de navegación al hacer hover */
        }
      }
    }
  }
  
  /* Logo de la barra de navegación */
  .navbar-logo {
    max-width: 130px; /* Tamaño máximo del logo */
    
    @media (max-width: 768px) {
      max-width: 120px; /* Reducir el tamaño máximo del logo para pantallas más pequeñas */
    }
  }
}

#video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Estilos para el contenedor de partículas */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.section {
  padding: 50px 0;
  background-color: #f0f0f0;
  text-align: center;
}
.section .container {
  position: relative;
}
.section .greeting {
  font-size: 40px;
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  z-index: 2;
  padding-bottom: 100px;
}
.section .logo-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.section .logo-image {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .section .greeting {
    font-size: 30px;
  }

  .section .logo-container {
    position: static;
    transform: none;
    margin-top: 20px;
  }
}

.section h2 {
  margin-bottom: 20px;
}
.greeting {
  position:absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  z-index: 2;
  padding-bottom: 100px;
}
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-image {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  max-width: 90%;
  height: auto;
}
.greeting{
  @media (max-width: 768px) {
    font-size: 40PX;
    padding-bottom: 100px;
  }
}
.lol {
  background-color: black; /* Establece el color de fondo del contenedor en negro */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta la altura del contenedor para que ocupe toda la altura de la ventana */
}
/* Estilos CSS para el botón de audio */
button.audio-button {
  position: fixed; /* Fija la posición del botón */
  bottom: 20px; /* Espacio desde abajo */
  right: 20px; /* Espacio desde la derecha */
  z-index: 999; /* Asegura que esté por encima de otros elementos */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  background: none; /* Fondo transparente */
  border: none; /* Sin borde */
}

button.audio-button img {
  width: 075px; /* Tamaño de la imagen del icono */
  transition: transform 0.3s ease; /* Agrega una transición suave de 0.3 segundos */

}
button.audio-button img:hover {
  filter: brightness(150%); /* Aumenta el brillo al 150% */
  transform: scale(1.1); /* Aumenta el tamaño al 110% */
}
button.audio-button img {
  @media (max-width: 768px) {
    width: 50px;
  }
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar {
  width: 100%;
  z-index: 1;
}

/* Agrega estilos para que el contenedor de partículas se superponga al video */
#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: transparent;
}

/* Agrega estilos para el contenedor principal */
#video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}